<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XINO Threads</title>
    <link rel="stylesheet" href="style.css">
    <link 
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="img/favicon.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a class="u" href="/">Home</a></li>
            <li><a class="u" href="#">About</a></li>
            <li><a class="u" href="#">Products</a></li>
            <li><a class="u" href="#">Contact Us</a></li>
            <li><a class="log" href="{%url 'login'%}">Login</a></li>
            <li><a class="log" href="{%url 'register'%}">Register</a></li>
            <li><a class="log" href="{%url 'logout'%}">Logout</a></li>
            <li><a class="u" href="#"><img src="img/cart.png" width="30px" height="30px"></a></li>
            
        </ul>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-2">
                <br><br><br><br><br><br>
                <h1>Lorem ipsum dolor<br>sit amet consectetur.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad<br>in perspiciatis fugiat corrupti architecto esse cake?</p>
                <br>
                <a href="" class="btn">Order Now &#8594</a>
                
            </div>
            <div class="col-2">
                <br><br><br>
                <img src="img/main.png" alt="">
            </div>
        </div>
        <div class="categories">
            <!-- <div class="smallcont">
            <div class="row">
                <div class="col-3">
                    <img src="img/category1.png" alt="">
                </div>
                <div class="col-3">
                    <img src="img/category2.png" alt="">
                </div>
                <div class="col-3">
                    <img src="img/category1.png" alt="">
                </div>
            </div>
        </div> -->
            <div class="smallcont">
                <h2>Featured Items -</h2>
                <div class="row">
                    <div class="col-4">
                        <div class="p1">
                            <img src="img/product-1.png" alt="">
                            <p class="big">Lorem, ipsum-dolor.</p>
                            <!-- <div class="rating small">100%👍&nbsp;&nbsp;&nbsp;&nbsp;0%👎</div> -->
                            <p class="medium">$25</p>
                            <a href="" class="btn">Add to cart</a>
                        </div>
                        <br><br>
                        <div class="p2">
                            <img src="img/product-2.png" alt="">
                            <p class="big">Lorem, ipsum-dolor.</p>
                            <!-- <div class="rating small">100%👍&nbsp;&nbsp;&nbsp;&nbsp;0%👎</div> -->
                            <p class="medium">$25</p>
                            <a href="" class="btn">Add to cart</a>
                        </div>
                        <br><br>
                        <div class="p3">
                            <img src="img/product-3.png" alt="">
                            <p class="big">Lorem, ipsum-dolor.</p>
                            <!-- <div class="rating small">100%👍&nbsp;&nbsp;&nbsp;&nbsp;0%👎</div> -->
                            <p class="medium">$25</p>
                            <a href="" class="btn">Add to cart</a>
                        </div>
                        <br><br>
                        <div class="p4">
                            <img src="img/product-4.png" alt="">
                            <p class="big">Lorem, ipsum-dolor.</p>
                            <!-- <div class="rating small">100%👍&nbsp;&nbsp;&nbsp;&nbsp;0%👎</div> -->
                            <p class="medium">$25</p>
                            <a href="" class="btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
</body>


</html>
