<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xino Threads</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="img/favicon.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a class="u" href="/">Home</a></li>
            <li><a class="u" href="#">About</a></li>
            <li><a class="u" href="#">Products</a></li>
            <li><a class="u" href="#">Contact Us</a></li>
            <li><a class="log" href="{%url 'login'%}">Login</a></li>
            <li><a class="log" href="{%url 'register'%}">Register</a></li>
            <li><a class="log" href="{%url 'logout'%}">Logout</a></li>
            <li><a class="u" href="#"><img src="img/cart.png" width="30px" height="30px"></a></li>
            
        </ul>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-2">
                <br><br><br><br><br><br>
                <h1>Lorem ipsum dolor<br>sit amet consectetur.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad<br>in perspiciatis fugiat corrupti architecto esse cake?</p>
                <br>
                <a href="" class="btn">Order Now &#8594</a>
                
            </div>
            <div class="col-2">
                <br><br><br>
                <img src="img/main.png" alt="">
            </div>
        </div>
    </div>
    
</body>
<script src="script.js"></script>

</html>
