<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XINO Threads | Products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="products_style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="img/favicon.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a class="u" href="/">Home</a></li>
            <li><a class="u" href="#">About</a></li>
            <li><a class="u" href="products.html">Products</a></li>
            <li><a class="u" href="#">Contact Us</a></li>
            <li><a class="log" href="{%url 'login'%}">Login</a></li>
            <li><a class="log" href="{%url 'register'%}">Register</a></li>
            <li><a class="log" href="{%url 'logout'%}">Logout</a></li>
            <li><a class="u" href="#"><img src="img/cart.png" width="30px" height="30px"></a></li>
            
        </ul>
    </nav><br><br><br><br><br><br><br><br>
    
    <div class="container">
        <h1> Our Products - </h1><br>

        <div class="products">
            <img src="img/product-1.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-2.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-3.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-4.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-5.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-6.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-7.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-8.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-9.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-10.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-11.png" alt=""><a href="" class="btn">Buy Now</a>
            <img src="img/product-12.png" alt=""><a href="" class="btn">Buy Now</a>
        </div>
    </div>
    <script src="script.js"></script>
    <footer><div class="text">XINO Threads Inc.<br>to be finished</div></footer>
</body>


</html>